<nav>
	<div class="nav-wrapper">
		<button class="btn btn-flat" ng-click="toggleLeft()"><icon name="menu" ></icon></button>
		<!-- <icon ng-show="bcCurr < bc.length-1 && ws > 640 " name="arrow-forward" ng-click="bcForward()"></icon> -->
		<button class="btn btn-flat" ng-show="bc.length > 1" ng-click="bcBack()">
			<icon name="arrow-back" ></icon>
		</button>

		<span class="breadcrumbs">{{breadcrumbs()}}</span>

		<div class="right">
			<button class="btn btn-flat" ng-show="ws > 640" ng-click='fullscreen($event)'><icon  name="fullscreen" ></icon></button>
			<a href="#modal1" class="btn btn-flat modal-trigger"><icon name="search"></icon></a>
			<a href="logout.php" class="btn btn-flat"><icon name="close"></icon></a>
		</div>
	</div>
</nav>

<div class="archive_viewer">
	<div class="shortcuts view-list">

		<div ng-if="!currentFolder.length" class="center">
			<p>
				<h5>Nenhum arquivo encontrado</h5>
			</p>
		</div>

		<div ng-if="currentViewType == 'folder-list' && currentFolder.length">
			<div class="icon" data-id="{{file.id}}" data-index="{{$index}}" ng-repeat="file in currentFolder | filter: {file_name: fileSearch, deleted: 0} " title="{{file.file_name}}" on-last-repeat>
				<div class="content-container" ng-if="file.is_folder == 1" ng-dblclick="openFolder(file, $index, $event)" data-tap="true" layout horizontal>
					<span flex>
						<icon name="folder"></icon>
						<p>{{file.file_name}}</p>
					</span>
				</div>
				<div class="content-container" ng-if="file.is_folder == 0" ng-dblclick="validFormat(file)" data-tap="true" layout horizontal>
					<span flex>
						<icon name="file"></icon>
						<p>{{file.file_name}}</p>
					</span>
				</div>
			</div>
		</div>
		<div ng-if="currentViewType == 'file-table'">
			<table ng-if="currentFolder.length">
				<thead>
					<tr>
						<th>Tipo</th>
						<th>Referência</th>
						<th>Data de criação</th>
						<th>Departamento</th>
						<th>Observações</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="item in currentFolder" contextmenu data-id="{{item.id}}">
						<td>{{item.tipo}}</td>
						<td>{{item.mes + '/' + item.ano}}</td>
						<td>{{item.data | date: 'dd/MM/yyyy'}}</td>
						<td>{{item.departamento}}</td>
						<td>{{item.obs}}</td>
						<!-- <td>{{item.nome}}</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="fab">
	<div ng-mouseleave="visible = false;">
		<button class="button waves-effect waves-light" ng-mouseenter="visible = true;" ng-class="{hover: visible}" ng-click="visible = false">
			<icon class="icon first-icon" name="plus"></icon>
			<icon class="icon second-icon" name="close"></icon>
		</button>
		<content ng-class="{show: visible, hide: !visible}">
			<ul>
				<li>
					<a href="#modal-upload" class="btn-floating purple modal-trigger" data-tooltip="Enviar arquivo" ng-click="visible = false;">
						<icon name="upload"></icon>
					</a>
				</li>
			</ul>
		</content>
	</div>
	<fab-overlay ng-class="{show: visible}"></fab-overlay>
</div>

<div id="modal-upload" class="modal">
	<div class="modal-content">
		<form method="post" enctype="multipart/form-data" name="upload-form">

			<p><h5>Fomulário de Cadastro de Arquivo</h5></p>

					<!-- <md-input-container>
						<label>Nome do Arquivo</label>
						<input ng-model="UploadBoard.form.file_name">
					</md-input-container> -->

					<md-input-container class="md-block" flex-gt-sm name="departamento">
						<label>Departamento</label>
						<md-select ng-model="UploadBoard.form.department">
							<md-option ng-repeat="item in departamentos" value="{{item.id}}" ng-click="UploadBoard.getTiposDeArquivos(item)">
								{{item.file_name}}
							</md-option>
						</md-select>
					</md-input-container>

					<md-input-container class="md-block" flex-gt-sm>
						<label>Tipo do Arquivo</label>
						<md-select ng-model="UploadBoard.form.type">
							<md-option ng-repeat="type in UploadBoard.tipo_de_arquivos" value="{{type.id}}">
								{{type.file_name}}
							</md-option>
						</md-select>
					</md-input-container>

					<md-input-container>
						<label>Mês</label>
						<input ng-model="UploadBoard.form.month" type="number" min="1" max="12">
					</md-input-container>

					<md-input-container>
						<label>Ano</label>
						<input ng-model="UploadBoard.form.year" type="number">
					</md-input-container>

					<md-input-container class="md-block">
						<label>Observação</label>
						<textarea ng-model="UploadBoard.form.obs" rows="5" md-select-on-focus></textarea>
					</md-input-container>

					<div class="file-field input-field clearfix">
						<span class="btn">
							<span>Escolher Arquivo</span>
							<input type="file" name="fileAttach" class="fileAttach">
						</span>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>
					</div>

					<br>

					<button class="btn" ng-click="UploadBoard.send()" raised>Enviar</button>
				</form>
			</div>
		</div>